@mixin centered-landing-container {
    position: absolute;
    top: 30%;
    left: 25%;
    right: 25%;
    border-radius: 8px;
}

.Landing{
    height: 100%;
    background-size: 100vw 100vh;
    background-image: url(../assets/TaskFlowBackground.jpg);
    color: ivory;

    &__header {
        margin: 0 10% 0 10%;

        h1{
            animation: fade-in 3s forwards;
            opacity: 0;
        }
    }

    &__container{
        animation: fade-in 3s 1s forwards;
        opacity: 0;
        @include centered-landing-container;
        &--signIn{
            background-color: rgb(161, 82, 150, 0.3);
            font-size: x-large;
            text-align: center;
            padding: 5%;
        }

        &--scroll{
            @include centered-landing-container;
            height: 60%;
            overflow-y: scroll;
        }

        &--about{
            background-color: rgb(161, 82, 150, 0.6);
            padding: 5%;
        }
    }
}

.googleButton{
    margin: auto;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


@media screen and (max-width:550px){
    .Landing{
        &__container{ 
            left: 10%;
            right: 10%;
        }
    }
}