html, body, #root, #App{
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    margin: 0;
    padding: 5% 0 0 0;
    font-size: 4em;
    text-shadow: 2px 1px #c5c0c8;
    letter-spacing:1px;
}

// .Page{
//     &__container {
//         margin: 0 10% 0 10%;
//     }
// }